## FinanceDataReader
- FinanceDataReader를 통한 종목별 주가, 지표 데이터 수집
- FinanceDataReader는 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

In [27]:
import FinanceDataReader as fdr
import seaborn as sns
import set_matplotlib_hangul

Hangul OK in your Windows !!!

In [3]:
df_krx = fdr.StockListing('KRX-MARCAP')
df_krx.head(20)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
1,005930,삼성전자,KOSPI,,78300,2,-600,-0.76,79300,79300,78200,8752269,687866612850,467433973665000,5969782550,STK
2,000660,SK하이닉스,KOSPI,,128000,2,-500,-0.39,128500,130000,128000,3050538,393630755000,93184302720000,728002365,STK
3,005935,삼성전자우,KOSPI,,72300,2,-100,-0.14,72600,72600,72200,719944,52102139500,59494708410000,822886700,STK
4,035420,NAVER,KOSPI,,349000,1,3500,1.01,348000,352000,344000,470236,164258368000,57253130665000,164049085,STK
5,207940,삼성바이오로직스,KOSPI,,858000,1,1000,0.12,855000,861000,845000,39680,33846094000,56769570000000,66165000,STK
6,051910,LG화학,KOSPI,,745000,2,-28000,-3.62,766000,767000,742000,368513,276647618000,52591295535000,70592343,STK
7,006400,삼성SDI,KOSPI,,664000,1,5000,0.76,674000,674000,660000,212048,141182314000,45659647920000,68764530,STK
8,005380,현대차,KOSPI,,211000,2,-500,-0.24,211500,213000,210000,266016,56304460500,45083987457000,213668187,STK
9,035720,카카오,KOSPI,,97200,3,0,0.00,97500,98200,96200,1737753,168931183000,43342062228000,445905990,STK
10,000270,기아,KOSPI,,84300,2,-800,-0.94,85000,85800,84200,622865,52844445500,34172130152100,405363347,STK
11,068270,셀트리온,KOSPI,,196000,2,-1000,-0.51,197000,197500,192000,350649,68343495000,27037637088000,137947128,STK
12,005490,POSCO,KOSPI,,308000,1,2500,0.82,310500,316000,305500,371779,115060943500,26853545180000,87186835,STK
13,105560,KB금융,KOSPI,,62000,1,100,0.16,62300,62300,61200,1057681,65248205000,25780091040000,415807920,STK
14,096770,SK이노베이션,KOSPI,,268000,1,3500,1.32,268500,272500,265500,848531,228335356000,24780771152000,92465564,STK
15,012330,현대모비스,KOSPI,,255000,2,-7000,-2.67,260000,262500,254000,241746,62249786000,24116138970000,94573094,STK
16,066570,LG전자,KOSPI,,146500,1,9500,6.93,139000,150000,139000,4487863,654756325000,23974404751000,163647814,STK
17,323410,카카오뱅크,KOSPI,,48850,2,-450,-0.91,49450,50200,48800,1503915,74064091900,23211528727450,475159237,STK
18,028260,삼성물산,KOSPI,,116500,2,-1000,-0.85,117000,118000,115500,151171,17617909000,21772344936500,186887081,STK
19,055550,신한지주,KOSPI,,39600,2,-150,-0.38,39800,39850,39200,959321,37867209500,20457342338400,516599554,STK
20,377300,카카오페이,KOSPI,,147500,2,-7000,-4.53,155000,155500,146000,332972,49502579000,19452754300000,131883080,STK

## 종목 선정
- 프로젝트를 진행하기에 앞서 먼저 시가총액이 높은 순으로 기업을 정하기로 하였다.
- 시가총액이 높은만큼 주식시장에서의 거래량도 많을 뿐더러, 관련 기사들도 많이 나올 것이라 판단하였다.
- 다만, 카카오페이, 카카오뱅크, 카카오 같은 같은 회사의 계열사가 포함될 경우는 시총이 높은 순으로 채택하고 다른 기업을 선정하기로 하였다.
- 보통 어떤 기업의 증권 관련 기사를 찾아볼 때 사람마다의 관심도에 따라 세부계열사를 검색하기도 하지만 보편적으로 회사의 메인 계열사 또는 회사명을 많이 찾는다는 특징을 참고하였다.

In [13]:
df_krx.set_index('Name', inplace=True)

In [15]:
df_krx.head()

,Code,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
Name,,,,,,,,,,,,,,,
삼성전자,005930,KOSPI,,78300,2,-600,-0.76,79300,79300,78200,8752269,687866612850,467433973665000,5969782550,STK
SK하이닉스,000660,KOSPI,,128000,2,-500,-0.39,128500,130000,128000,3050538,393630755000,93184302720000,728002365,STK
삼성전자우,005935,KOSPI,,72300,2,-100,-0.14,72600,72600,72200,719944,52102139500,59494708410000,822886700,STK
NAVER,035420,KOSPI,,349000,1,3500,1.01,348000,352000,344000,470236,164258368000,57253130665000,164049085,STK
삼성바이오로직스,207940,KOSPI,,858000,1,1000,0.12,855000,861000,845000,39680,33846094000,56769570000000,66165000,STK

In [18]:
top10_list = df_krx.loc[top10comp, ['Market', 'Marcap', 'Stocks']]
top10_list

       Market           Marcap      Stocks
Name
삼성전자    KOSPI  467433973665000  5969782550
SK하이닉스  KOSPI   93184302720000   728002365
NAVER   KOSPI   57253130665000   164049085
LG화학    KOSPI   52591295535000    70592343
현대차     KOSPI   45083987457000   213668187
카카오     KOSPI   43342062228000   445905990
셀트리온    KOSPI   27037637088000   137947128
POSCO   KOSPI   26853545180000    87186835
KB금융    KOSPI   25780091040000   415807920
신한지주    KOSPI   20457342338400   516599554